*
{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(rgb(62, 24, 126),rgb(12, 2, 36));
}
header
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .judul
{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}
header ul
{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header ul li
{
  list-style: none;
  margin-left: 20px;
}
header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: blanchedalmond;
  justify-content: space-between;
}
header ul li a:hover
{
    background: white;
    color:black;
} 
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
   
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}
section img#cat
{
    top: 10%;
    left: 3%;
    width: 500px;
    height: 500px;
   
}
section img#star
{
    
    object-fit: cover;
}
section img#apb
{
    top: 15%;
    left: 15%;
    width: 1000px;
    height: 500px;
   
}

#text
{
    position: absolute;
    top: 25%;
    left: 50%;
    color: white;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;

}
#text1
{
    position: absolute;
    top: 35%;
    left: 57%;
    color: white;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;
}
.sec
{
    position: relative;
    padding: 100px;
    background: linear-gradient(rgb(12, 2, 36),rgb(62, 24, 126));
}
.sec h2
{
    font-size: 3vvw;
    margin-bottom: 10px;
    color: white;
}
.sec p
{
    font-size: 3vvw;
    color: white;
}
.Users h2
{
    font-size: 3vvw;
    margin-bottom: 10px;
    color: white;
}
.Users h1
{
    font-size: 5vvw;
    margin-bottom: 10px;
    color: white;
}
.Users p
{
    font-size: 3vvw;
    color: white;
}
.Users
{
    position: relative;
    padding: 100px;
    background: linear-gradient(rgb(12, 2, 36),rgb(62, 24, 126));
}
